* {
    margin: 0;
    padding: 0;
}

.quicksand {
    font-family: "Quicksand", serif;
    font-optical-sizing: auto;
    font-style: normal;
}

/* shared styles */
.width{
    max-width: 1160px;
    margin: 0 auto;
}
.background{
    background-image: url(images/bg.png);
    background-repeat: no-repeat;
}
.section-title{
    font-size: 2.7rem;
    font-weight: bold;
    text-align: center;
    margin-top: 60px;
}
/**** header section starts ****/
.header-section {
    background-color: #f7f7f7;
}

.header-section-content {
    padding-top: 20px;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: flex;
    gap: 11px;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.logo-title {
    font-size: 1.8rem;
    font-weight: bold;
    color: black;
}

.menu ul {
    display: flex;
    gap: 32px;
}

.menu ul li {
    list-style: none;
    font-size: 1.25rem;
    font-weight: 700;
}

.menu ul li a {
    text-decoration: none;
}

.menu-items:hover {
    transition: 0.3s;
    text-decoration: underline;

}

.nav-button {
    color: white;
    background-color: #FEA301;
    border: 2px solid #FEA301;
    border-radius: 12px;
    padding: 10px 60px;
    font-size: 1.25rem;
    font-weight: 600;
    cursor: pointer;
}

.nav-button:hover {
    color: #FEA301;
    background-color: white;
    border: 2px solid #FEA301;
    transition: 0.3s;
}

.nav-icon>.fa-bars {
    font-size: 2rem;
}

.nav-icon {
    display: none;
}

/* banner section starts */
.banner {
    display: flex;
    gap: 50px;
}

.banner-content {
    margin: 122px 0px;
}

.banner-title {
    font-size: 2rem;
    font-weight: bold;
    color: black;
}

.title-first-part {
    color: #FEA301;
}

.title-second-part {
    color: #01ACFD;
}

.banner-description {
    font-size: 1.25rem;
    font-weight: 400;
    color: black;
    margin: 24px 0px;
}

.banner-button {
    color: white;
    padding: 10px 48px;
    background-color: black;
    font-size: 20px;
    font-weight: bold;
    border: 2px solid black;
    border-radius: 12px;
    cursor: pointer;
}

.banner-button:hover {
    color: black;
    background-color: white;
    border: 2px solid black;
    transition: 0.3s;
}

/* Curriculum Section starts */
.cards{
    margin: 80px 0px;
    display: flex;
    gap: 30px;
}
.card{
    padding: 50px;
    text-align: center;
}
.card-1-background{
    background: linear-gradient(180deg, #DEF5FF 0%, #FFFFFF 40%);
    border: 1px solid #DEF5FF;
    border-radius: 19px;  
}
.card-2-background{
    background: linear-gradient(180deg, #FFF4DC 0%, #FFFFFF 40%);
    border: 1px solid #FFF4DC;
    border-radius: 19px;  
}
.card-3-background{
    background: linear-gradient(180deg, #EEE1FF 0%, #FFFFFF 40%);
    border: 1px solid #EEE1FF;
    border-radius: 19px;
}
.card-title{
    font-size: 1.5rem;
    font-weight: bold;
    margin: 30px 0px;
}
.card-description{
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.8rem;
    margin-bottom: 30px;
}
.card-button{
    all: unset;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
}
.card-button:hover{
    text-decoration: underline;
    transition: 0.3s;
}
.card-image{
    width: 140px;
    height: 140px;
    
}
.arrow-icons{
    text-align: center;
}
.fa-solid{
    font-size: 30px;
    width: 60px;
    height: 60px;
    border: 2px solid #FEA301;
    border-radius: 30px;
    color: white;
    background-color: #FEA301;
    cursor: pointer;
}
.fa-solid:hover{
    border: 2px solid #FEA301;
    color: #FEA301;
    background-color: white;
    transition: 0.3s;
}

/* Mobile Responsive styles */
@media screen and (max-width: 576px) {

    /* Nav and Banner Responsive styles */
    .logo-title,
    .menu,
    .nav-button {
        display: none;
    }

    .nav-icon,
    .logo-image {
        display: block;
        padding: 12px 16px;
    }

    .banner-image {
        padding: 20px;
    }

    .banner-image-content {
        width: 100%;

    }

    .banner {
        flex-direction: column-reverse;
        gap: 0px;
    }

    .banner-content {
        margin: 20px 30px;
    }

    .banner-title {
        font-size: 1.2rem;
        text-align: center;
        padding-top: ;
    }

    .banner-description {
        font-size: 1rem;
        text-align: center;
    }

    .banner-button {
        font-size: 1rem;
        padding: 10px 24px;
    }

    .banner-buttons {
        text-align: center;
    }

    .nav-icon>.fa-bars {
        font-size: 2.5rem;
    }
    .nav{
        border: 1px solid #FEA301;
    }
    .header-section-content{
        padding: 0px;
    }
    /* Curriculum Responsive styles */
    .section-title{
        font-size: 2rem;
        margin-top: 40px;
    }
    .cards{
        padding: 20px;
        flex-direction: column;
        margin-top: 20px;
        gap: 10px;
        margin-bottom: 0px;
    }
    .card{
        padding: 36px 28px;
    }
    .arrow-icons{
        display: none;
    }
/* Stories Responsive styles */



/* Footer Responsive styles */




}